body{
    background-image:url("https://thumbs.gfycat.com/DisgustingGregariousCassowary-size_restricted.gif"), url("https://thumbs.gfycat.com/DisgustingGregariousCassowary-size_restricted.gif");
    background-size:cover ; background-repeat: no-repeat;
    }
    div.a {
        font-family: "Monospace", monospace;
        font-size: 100px;
        text-align: center;
      }
      div.b{
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        text-align:left ;
      }
        