body{
    background-image:url("https://thumbs.gfycat.com/DisgustingGregariousCassowary-size_restricted.gif"), url("https://thumbs.gfycat.com/DisgustingGregariousCassowary-size_restricted.gif");
    background-size: cover ; background-repeat: no-repeat;
    }
    h1 {
        font-family: "Monospace", monospace;
        font-size: 100px;
        text-align: center;
        color: orange;
      }
    div.op{
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
        text-align:center ;
        color: red;
      }
     
      a{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: orangered;
        text-align: center;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: rgb(0, 38, 255);
       color: white;
       font-size: 20px;
      }

    
    div.gosh{
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 300px;
      height: 50px;

    }
    div.ap{
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        text-align:center ;
        color: red;
    }
  
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 38, 255);
    color: white;
    text-align: center;
    font-size: 10px;
 }